<div class="container fond">
      <div class="text-center typewriter">
          <app-retour></app-retour>
          <h1 class="titre">PR<span class="jaune">O</span>FIL</h1>
      </div>
      <div class="text-center">
          <img class="img-fluid photoMoi" src="assets/img/ptrben.png" alt="photo">
      </div>
      <div class="text-center jaune txtLabel">
        <p>{{titre}}</p>
      </div>
      <div class="spacer"></div>
      <div class="resumeProfile offset-1 col-10">
          <p>{{resume0}}<br>
             {{resume1}}<br>
             {{resume2}}<br>
             {{resume3}}<br>
             {{resume4}}</p>
      </div>
</div>
