    <div class="col-12 text-center typewriter">
          <app-retour></app-retour>
          <h1 class="titre">CO<span class="jaune">N</span>TACT</h1>
    </div>

    <iframe class="mail col-12" src="http://localhost:3000/" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>

    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.1739785566742!2d1.2594727157859396!3d45.8277990171284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f934a4673f2813%3A0x977d7e49a2730ee6!2s34+Rue+Delescluze%2C+87000+Limoges!5e0!3m2!1sfr!2sfr!4v1522155150197" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-12 text-center">
        <h4 class="sousTitre">{{sousTitre}}</h4>
    </div>

    <div class="col-12 text-center">
        <img class="hvr-buzz" src="https://png.icons8.com/cotton/50/000000/place-marker.png">
        <p>{{adress}}</p>
        <div class="spacer"></div>
        <img class="hvr-buzz" src="https://png.icons8.com/wired/50/000000/phone.png">
        <p>{{phone}}</p>
        <div class="spacer"></div>
        <img class="hvr-buzz" src="https://png.icons8.com/dotty/50/000000/new-post.png">
        <p>{{mail}}</p>
    </div>

<app-footer></app-footer>
